
::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-y: auto;
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    background-color: transparent;
    width: 15%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
    color: #1565c0;
    font-size: 1.2rem;
}
.logo img{
    margin-left: 5rem;
    width: 5rem;
    height:4rem;
    margin-right: 0.5rem;
}
.anchor{
    background-color: transparent;
    margin-left: 8rem;
    width: 45%;
    height: inherit;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.anchor li{
    margin-right: 1.5rem;
    color: #000;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    font-size: 1.1rem;
}
.cta{
    margin-right: 5rem;
    width: 15%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cta button{
    margin-right: 1rem;
    width: 5.4rem;
    height: 2.6rem;
    border-radius: 8px;
    border: none;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.blogs{
    background-color: #ffa500;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    position: relative;
    top: 80px;
}
.hero h2{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    position: relative;
    top: 10px;
}
.hero span{
    color: #673ab7;
}
.glow-orange {
    background-color: #ffa500;
    color: white;
    font-family: "Inter Tight",sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 20px #ffa500;
    animation: glow 1.5s ease-in-out infinite alternate;
    transition: all 0.3s ease;
    margin-right: 1.5rem;
  }
  
@keyframes glow {
from {
    box-shadow: 0 0 10px #ffa500,
                0 0 20px #ffa500;
}
to {
    box-shadow: 0 0 20px #ffa500;
}
}
.cta2{
    background-color: transparent;
    font-family: "Inter Tight",sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    color: #1565c0;
    border: 2px solid #1565c0;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.about{
    height: 90vh;
    display: flex;
    margin-top: 5rem;
}
.aboutcontent{
    background-color: transparent;
    height: 90vh;
    width: 50%;
    margin-right: 8rem;
    margin-left: 3rem;
}
.about img {
    box-shadow: -20px 20px 90px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    height: 80vh;
}
.about h1{
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
}
.strategy{
    position: relative;
    top: -45px;
}
.about span{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3.7rem;
    color: #673ab7;
    position: relative;
    top: -92px;
}
.about p{
    font-family: "Inter Tight", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    position: relative;
    top: -95px;
}
.buttons1 button{
    font-family: "Inter Tight",sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    top: -50px;
}
.log{
    background-color: #ffa500;
    margin-right: 2rem;
    color: #fff;
    border: #fff;
    box-shadow: -20px 20px 90px rgba(0, 0, 0, 0.1);
}
.rev{
    background-color: transparent;
    color: #673ab7;
    border-color: #673ab7;
}
.features {
    position: relative; 
    height: 125vh;
}

.features::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../src/assets/Mesh\ Gradient_001.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4; 
    z-index: -1; 
    border-radius: 15px;
    box-shadow: -20px 20px 90px rgba(0, 0, 0, 0.7);
}
.f1 h1{
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}
.f1 span{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
    color: #673ab7;
    position: relative;
    top: -72px;
}
.f1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
}
.row-1, .row-2{
    background-color: transparent;
    height: 36vh;
    display: flex;
    width: 100%;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    background-color: #f0f0f0;
    position: relative;
    top: -6rem;
    width: 33%;
    height: 12.5rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: -20px 20px 90px rgba(0, 0, 0, 0.2);
    border: 2px dashed #cccccc;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    align-items: center;
}
.subheading{
    background-color: #fff;
    height: 4rem;
    border-radius: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.01);
    margin-bottom: 1rem;
}
.subheading h3{
    font-family: "Inter Tight", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 1.5rem;
}
.feat{
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Inter Tight", serif;
    font-size: 1rem;
    font-weight: 450;
    color: #444444;
}
.contacts{
    background-color: #cccccc;
    box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
    width: 90%;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ok{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 95%;
}
.name{
    height: 30%;
}
.bars{
    background-color: transparent;
    width: 25%;
    height: 90%;
    margin-bottom: 2rem;
    position: relative;
    top: 2.5rem;
    left: 5rem;
}
.bars h6{
    font-family: "Inter Tight", serif;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 0;
    text-decoration: underline;
    position: relative;
    top: -3rem;
    color: #000;
}
.name h1{
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 450;
    color: #673ab7;
}